<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../asset/icons/simple-line-icons/simple-line-icons.min.css">
    <link rel="stylesheet" href="../asset/icons/material-design-icons/material-icon.css">
    <link rel="stylesheet" href="../asset/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../asset/css/styles.css">
</head>
<body>


    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <i class="si icon-menu" id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home" class="active" >Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            
            <h3>Hello, It's Me</h3>
            <h1>Iloegunam, levi </h1>
            <h3>And I'm a <span class="multiple-text"></span></h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                 elit. Atque similique earum reiciendis.
                 Aut repellendus earum architecto amet.</p>
            <div class="social-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="www.twitter.com/levibass15"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>

            <a href="#" class="btn">Download cv</a>
        </div>

        <div class="home-img">
            <img src="../asset/image/b (1).png"  alt="photo">
        </div>
    </section>


    <section class="about" id="about">
        <div class="about-img">
            <img src="../asset/image/b (2).png" alt="about-img"  >
        </div>
        <div class="about-content">
            <h2 class="heading">About<span> Me</span></h2>
            <h3>Frontend Developer</h3>

	<div id="slide0" class="slideAbout">
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing 
                elit. Velit beatae, a rerum magni pariatur placeat 
                minus sit! Voluptatibus molestiae reprehenderit
                consectetur esse assumenda dolorum Lorem ipsum, 
                dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Praesentium, at? Natus id a quis sapiente vitae error
                temporibus nisi molestiae.Officiis maxime corporis,
                 similique excepturi quo natus.
                modi totam aliquid corrupti ipsam. Lorem ipsum dolor,
                 sit amet consectetur adipisicing elit. Dicta placeat laudantium quod tempora 
                non expedita tempore, soluta consectetur vel alias!
                Temporibus!  Lorem ipsum dolor sit, amet consectetur adipisicing 
                elit. Velit beatae, a rerum magni pariatur placeat 
                minus sit! Voluptatibus molestiae reprehenderit
                consectetur esse assumenda dolorum Lorem ipsum, 
                dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Praesentium, at? Natus id a quis sapiente vitae error
                temporibus nisi molestiae.Officiis maxime corporis,
                 similique excepturi quo natus.
                modi totam aliquid corrupti ipsam. Lorem ipsum dolor,
                 sit amet consectetur adipisicing elit. Dicta placeat laudantium quod tempora 
                non expedita tempore, soluta consectetur vel alias!
                Temporibus!</p>

		</div>
                <span href="#" class="btn" id="btn_0">Read more</span>
        </div>
    </section>



    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class="fa fa-code"></i>
                <h3>Web Development</h3>
                <div id="slide1" class="slide1">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Nam aspernatur doloremque iure veritatis mpedit simil
                        que in maiores, sapiente consequuntur eaque.</p>
                    </div>
                    <span href="#" class="btn" id="btn_1">Read More</span>
            </div>

            <div class="services-box">
                <i class="fa fa-paint-brush"></i>
                <h3>Graphics</h3>
                <div id="slide2" class="slide1">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Nam aspernatur doloremque iure veritatis mpedit simil
                        que in maiores, sapiente consequuntur eaque.</p>
                    </div>
                    <span href="#" class="btn" id="btn_2">Read More</span>
            </div>

            <div class="services-box">
                <i class="fa fa-bar-chart"></i>
                <h3>Digital Marketing</h3>
                <div id="slide3" class="slide1">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Nam aspernatur doloremque iure veritatis mpedit simil
                        que in maiores, sapiente consequuntur eaque.</p>
                    </div>
                    <span href="#" class="btn" id="btn_3">Read More</span>
            </div>
        </div>
    </section>



    <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest<span>Project</span></h2>

        <div class="portfolio-container">  
            <div class="portfolio-box">
             <img src="../asset/image/a (1).jpg" class="port-img" alt="">
            <div class="portfolio-layer">
                <h4>Web Desgin</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Accusamus, quos.</p>
                <a href="#"><i class="fa fa-external-link"></i></a>
            </div>
            </div>

            <div class="portfolio-box">
                <img src="../asset/image/a (2).jpg" class="port-img" alt="">
               <div class="portfolio-layer">
                   <h4>Front End Design manager</h4>
                   <p>Lorem ipsum dolor sit amet consectetur consectetur adipisicing  lelit. Accusamus, quos.adipisicing 
                       elit. Accusamus, quos.</p>
                   <a href="#"><i class="fa fa-external-link"></i></a>
               </div>
               </div>

               <div class="portfolio-box">
                <img src="../asset/image/a (3).jpg" class="port-img" alt="">
               <div class="portfolio-layer">
                   <h4>Grapics</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                       elit. Accusamus, consectetur adipisicing 
                       elit. Accusamus, quos.quos.</p>
                   <a href="#"><i class="fa fa-external-link"></i></a>
               </div>
               </div>

               <div class="portfolio-box">
                <img src="../asset/image/a (7).jpg" class="port-img" alt="">
               <div class="portfolio-layer">
                   <h4>Marketing</h4>
                   <p>Lorem ipsum dolor sit amet consectetur consectetur adipisicing elit. Accusamus, quos.adipisicing 
                       elit. Accusamus, quos.</p>
                   <a href="#"><i class="fa fa-external-link"></i></a>
               </div>
               </div>

               <div class="portfolio-box">
                <img src="../asset/image/a (5).jpg" class="port-img" alt="">
               <div class="portfolio-layer">
                   <h4>Copy Writing</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                       elit. Accusamus, quos.</p>
                   <a href="#"><i class="fa fa-external-link"></i></a>
               </div>
               </div>

               <div class="portfolio-box">
                <img src="../asset/image/a (6).jpg" class="port-img" alt="">
               <div class="portfolio-layer">
                   <h4>UI/UX Design</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                       elit. Accusamus, quos.</p>
                   <a href="#"><i class="fa fa-external-link"></i></a>
               </div>
               </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me</span></h2>
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email Address">
            </div>

            <div class="input-box">
                <input type="number" placeholder="Mobile Number">
                <input type="text" placeholder="Email Subject">
            </div>
            <textarea cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send message " class="btn">
        </form>
    </section>
    

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by <span>Levi Boniface</span> <i>All Rights Reserved.</i> </p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class="fa fa-arrow-up"></i></a>
        </div>

    </footer>



    <!-- scroll js  -->
    <script src="https://unpkg.com/scrollreveal"></script>


    <!-- typed js  -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!-- custom js  -->
    <script src="../asset/js/script.js"></script>

</body>
</html>